
.index-introduce{
    height: 480px;
    background-color: white;
}
.index-introduce img{ 
    width: 49px;
    height: 48px;
    position: relative;
    left: 40%;
    top: 25px;
}
.svg{
    width: 100%;
    height: 70px;
    position: relative;
    left: 5px;
}
.svg-hg{
    width: 100%;
    height: 1.5em;
    position: relative;
    left: 15px;
    top: 60%;
}
.svg-cust{
    width: 100%;
    height: 48px;
    position: relative;
    left: 7px;
    top: 35%;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -5%;
    left: -1.5em;
}
.top #introduce-content-open{
    position: relative;
    top: -20%;
    left: 5%;
}
.top #introduce-content-pg{
    width: 90%;
    position: relative;
    top: 17%;
    left: 5%;
}
.top #introduce-content-io{
    position: relative;
    top: -21%;
    left: 6%;
}
.top-opensource{
    width: 18em;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0px 0px 36px 0px rgba(4,0,0,0.09);
    border-radius: 3px;
    display: grid;
    justify-content: center;
}
.top .introduce-title{
    position: relative;
    left: 4%;
    top: 25%;
}
.top .svg{
    position: relative;
    top: 40%;
}
.top-pgsql{
    width: 18em;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0px 0px 36px 0px rgba(4,0,0,0.09);
    border-radius: 3px;
    position: relative;
    left: 26px;
    display: grid;
    justify-content: center;
}
.top-oracle{
    width: 18em;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0px 0px 36px 0px rgba(4,0,0,0.09);
    border-radius: 3px;
    position: relative;
    left: 52px;
    display: grid;
    justify-content: center;
}
.introduce-title{
    text-align: center;
    font-size: 1em;
    font-family: Microsoft YaHei;
    font-weight: 900;
    color: #333333;
}
#PG-introduce-title{
    position: relative;
    top: 30px;
}
.introduce-content{
    font-size: 0.8em;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    text-align: center;
}
.buttom{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
    left: 1.7%;
}
.buttom-Highgo #introduce-title-hg{
    position: relative;
    left: 3%;
    top: 40%;
}
.buttom-Highgo #introduce-content-hg{
    width: 99%;        
    position: relative;
    left: 2%;
    top: 10%;
}
.buttom-customize #introduce-title-cust{
    position: relative;
    left: 3%;
    top: 10%;
}
.buttom-customize #introduce-content-cust{
    width: 100%;
    position: relative;
    left: 4%;
    top: -30%;
}
.buttom-customize{
    width: 27.8em;
    max-width: 601px;
    height: 182px;
    background: #FFFFFF;
    box-shadow: 0px 0px 36px 0px rgba(4,0,0,0.09);
    border-radius: 3px;
    display: grid;
    justify-content: center;
}
.buttom-Highgo{
    width: 27.8em;
    max-width: 601px;
    height: 182px;
    background: #FFFFFF;
    box-shadow: 0px 0px 36px 0px rgba(4,0,0,0.09);
    border-radius: 3px;
    position: relative;
    left: 30px;
    display: grid;
    justify-content: center;
}
#hg{
    width: 100px;
    height: 20px;
    position: relative;
    left: 150px;
    top: 35px;
}
#link-hgcom{
    width: 73px;
    height: 26px;
    background: #FFD673;
    border-radius: 3px;
    border: 1px;
    position: relative;
    left: 43.3%;
}
#link-hgcom span{
    display: inline;
    width: 22px;
    height: 7px;
    font-size: 0.8em;
    font-family: Gilroy;
    font-weight: 800;
    color: #252424;
    line-height: 14px;
    position: relative;
    left: -50%;
    top: -30%;
}
#link-hgcom div{
    display: inline;
    width: 22px;
    height: 7px;
    font-size: 0.8em;
    font-family: Gilroy;
    font-weight: 800;
    color: #252424;
    line-height: 14px;
    position: relative;
    top: -30%;
    right: 1%;
}
#link-hgcom:hover{
    background-color: #F9BB30;
}
@media screen and (min-width: 1800px) {
    .index-introduce{
        height: 700px;
    }
    .introduce-title{
        font-size: 1.2em;
    }
    .introduce-content{
        font-size: 1em;
    }
    .top-opensource{ 
        width: 23em;
        height: 250px;
    }
    .top-pgsql{ 
        width: 23em;
        height: 250px;
    }
    .top-oracle{ 
        width: 23em;
        height: 250px;
    }
    .buttom-customize{
        width: 35em;
        height: 272px;
    }
    .buttom-Highgo{
        width: 35em;
        height: 272px;
    }
}
@media screen and (max-width: 997px) {
    .index-introduce{
      height: 1200px;
    }
    .svg{
        width: 100%;
        height: 60px;
    }
    .top{
      display: grid;
      justify-content: center;
      position: relative;
      top: 20px;
      left: 1px;
    }
    .buttom{
        width: 100%;
        display: grid;
        justify-content: center;
        position: relative;
        top: 80px;
        left: -0.2%;
    }
    .top-opensource{
      width: 250px;
      height: 200px;
    }
    .top-pgsql{
        width: 250px;
        height: 200px;
        position: relative;
        left: -1px;
        top: 20px;
    }
    .top-oracle{
        width: 250px;
        height: 200px;
        position: relative;
        left: -1px;
        top: 40px;
    }
    .buttom-customize{
        width: 250px;
        height: 200px;
    }
    .buttom-Highgo{
        width: 250px;
        height: 200px;
        position: relative;
        left: -1px;
        top: 20px;
    }
    .svg-hg{
        width: 100%;
        height: 20px;
    }
    .buttom-Highgo #introduce-title-hg{
        width: 100%;
        height: 20%;
    }
    .buttom-Highgo #introduce-content-hg{
        width: 230px;
    }
    #link-hgcom{
        position: relative;
        left: 85px;
    }
}